@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   Scrollbar Global
   ========================= */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 6px; /* scrollbar vertikal */
    height: 6px; /* scrollbar horizontal */
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100, 116, 139, 0.5); /* slate-500 */
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 116, 139, 0.8);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.5) transparent;
    font-family: "Plus Jakarta Sans", "Inter", sans-serif;
}
* {
    touch-action: manipulation;
}
